body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
h5 {
font-family: 'ViturdeshC'!important;
    src: url("https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/webfontkit-20230627-010623/viturdeshchildswriting-regular-webfont.woff2") format('woff2'),
         url("https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/webfontkit-20230627-010623/viturdeshchildswriting-regular-webfont.woff") format('woff'),
         url("https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/webfontkit-20230627-010623/ViturdeshChildsWriting-Regular.otf") format('OpenType'),
         url("https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/webfontkit-20230627-010623/ViturdeshChildsWriting-Regular.ttf") format('TrueType');
    font-weight: normal;
    font-style: normal;
}

h6 {
font-family: 'ViturdeshP'!important;
font-weight:normal;
font-style:normal;
}
    
}

