



@font-face {
	font-family: 'ViturdeshC';
	src: url('https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/fonts/ViturdeshWebkit/viturdeshc-webfont_com.eot'); /* IE9 Compat Modes */
	src: url('https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/fonts/ViturdeshWebkit/viturdeshc-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
	     url('https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/fonts/ViturdeshWebkit/viturdeshc-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	     url('https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/fonts/ViturdeshWebkit/viturdeshc-webfont.woff') format('woff'), /* Modern Browsers */
	     url('https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/fonts/ViturdeshWebkit/viturdeshc-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/fonts/ViturdeshWebkit/viturdeshc-webfont.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'ViturdeshP';
	src: url('https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/fonts/ViturdeshWebkit/viturdeshp-webfont_com.eot'); /* IE9 Compat Modes */
	src: url('https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/fonts/ViturdeshWebkit/viturdeshp-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
	     url('https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/fonts/ViturdeshWebkit/viturdeshp-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	     url('src/site/styles/viturdeshp-webfont.woff') format('woff'), /* Modern Browsers */
	     url('https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/fonts/ViturdeshWebkit/viturdeshp-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('https://github.com/KopisNyx/my-digital-garden/blob/main/src/site/styles/fonts/ViturdeshWebkit/viturdeshp-webfont.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;

}


body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    
h5 {
    color: #fff2cc!important;
    font-family: 'ViturdeshC', Arial, sans-serif!important;
}

h6 {
    color: #cfe2f3!important;
    font-family: 'ViturdeshP', Arial, sans-serif;
}

    
}

