body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    
h5 {
    color: #fff2cc;
    font-family: 'ViturdeshC', Arial, sans-serif;
}

h6 {
    color: #cfe2f3;
    font-family: 'ViturdeshP', Arial, sans-serif;
}

    
}

